# --------------------------------------------------
# Logs & outputs
# --------------------------------------------------
*.log
results.txt
onion.txt
scan.go.bak
*.tmp


# --------------------------------------------------
# OS files
# --------------------------------------------------
.DS_Store
Thumbs.db


# --------------------------------------------------
# Go tooling
# --------------------------------------------------
go.work
go.work.sum